<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="SHORTCUT ICON" href="/static/logo_mini.png">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body style='font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif'>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-1 column">
		</div>

		<div class="col-md-10 column">
            <h3><b>后台管理</b></h3>
            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            <h4>设置查找起点id</h4>
            <form action="/menu/start/19000" method="post">
              <input type="text" name="startid" />
              <input type="submit" value="set" />
            </form>
            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            <h4>手动添加日期:菜单</h4>
            <form action="/menu/add/151203/17063" method="post">
                <input type="text" name="day" />
                <input type="text" name="mid" />
                <input type="submit" value="add" />
            </form>
            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            <h4>删除指定日期</h4>
            <form action="/menu/delete/150101" method="post">
                <input type="text" name="day" />
                <input type="submit" value="del" />
            </form>

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            <h4>删除future指定日期</h4>
            <form action="/menu/delfuture/151300" method="post">
                <input type="text" name="day" />
                <input type="submit" value="del" />
            </form>

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            <h4>查询菜单数据: <a href="/menu/info">/menu/info</a></h4>
            <h4>刷新菜单列表: <a href="/menu/refreshlist">/menu/refreshlist</a></h4>
            <h4>清空maybe列表: <a href="/menu/clear">/menu/clear</a></h4>
            <h4>查看log: <a href="/menu/log/1000">/menu/log</a></h4>
            <h4>查看页面缓存: <a href="/menu/cache">/menu/cache</a></h4>

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
            <h4>{{ timestr|safe }}</h4>
            <h4>菜单访问量:&nbsp;{{ visit }}</h4>
            <h4>主页访问量:&nbsp;{{ visitHome }}</h4>

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
            <h4><b>新链接测试（易信网易行政）</b></h4>
            <h4>&nbsp;<a href="http://wap.plus.yixin.im/wap/material/viewImageText?id=31415423">星期一</a></h4>
            <h4>&nbsp;<a href="http://wap.plus.yixin.im/wap/material/viewImageText?id=31704345">星期二</a></h4>
            <h4>&nbsp;<a href="http://wap.plus.yixin.im/wap/material/viewImageText?id=31704346">星期三</a></h4>
            <h4>&nbsp;<a href="http://wap.plus.yixin.im/wap/material/viewImageText?id=31700488">星期四</a></h4>
            <h4>&nbsp;<a href="http://wap.plus.yixin.im/wap/material/viewImageText?id=31613351">星期五</a></h4>
            <h4>&nbsp;<a href="http://wap.plus.yixin.im/wap/material/viewImageText?id=31415424">星期六</a></h4>

		</div>
		<div class="col-md-1 column">
		</div>
	</div>
</div>

</body>
</html>