<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>杭州菜单</title>
</head>
<body>
<h3>菜单列表</h3>
{% if vals %}
<ul>
    {% for key in vals.keys() %}
    <li><a href="http://numenplus.yixin.im/singleNewsWap.do?materialId={{ vals[key] }}">{{ key }} </a></li>
    {% endfor %}
</ul>

{% else %}
<h4>暂无</h4>
{% endif %}

<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

<h3>自定义查询</h3>
<form action="/menu/0" method="post">
  <input type="text" name="day" />
  <input type="submit" value="查询" />
</form>

<h4>参数说明</h4>
<p>0-1000: 多少天之后的菜单</p>
<p>1000-151025: 跳转到可能的菜单页(适用于抓取错误时)</p>
<p>>=151026:  指定日期的菜单</p>

<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

<h4>微信公众号: neteasemenu</h4>
<h4>今日菜单: <a href="http://43.241.220.139:5000/menu/0">http://43.241.220.139:5000/menu/0</a></h4>
<h4>本页短链1: <a href="http://dwz.cn/hzmenu">http://dwz.cn/hzmenu</a></h4>
<h4>本页短链2: <a href="http://t.im/menu">http://t.im/menu</a></h4>

<hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
<h4>源码: <a href="https://github.com/arcsun/neteaseMenu">github</a></h4>


</body>
</html>